@using Cotracosan.Models.Cotracosan;
@{ 
    Layout = null;
}

<div class="col-md-6">
    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
</div>
<div class="col-md-6">
    @Html.DropDownList("RolesId", null, htmlAttributes: new { @class = "form-control" })
</div>