
@{
    ViewBag.Title = "Roles del Sistema.";
}

<br />
<div class="row">
    @* Tabla para mostrar contenido *@
    <div class="col-md-6">
        <div class="table-responsive-lg">
            <table class="table" id="tableRoles">
                <thead>
                    <tr>
                        <th> Descripción</th>
                        <th> Numero de Usuarios </th>
                        <th> Acciones </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @* Formulario para agregar o actualizar contenido *@
    <br />
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Formulario Roles
            </div>
            <div class="card-body">
                <h5 class="card-title">Creación de roles</h5>
                @using (Html.BeginForm("Create", "Roles", FormMethod.Post, new { onsubmit = "return SubmitForm(this)"}))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="Descripcion" name="Descripcion" class="form-control" placeholder="Ingrese la descripción del rol" style="width: 100% !important;" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:1em">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                        <div class="col-md-2 offset-1">
                            <button type="button" class="btn btn-warning" onclick="cancelarEdicion()">Cancelar</button>
                        </div>
                    </div>
                }
                <hr />
                <h5 class="card-title">Asignar rol a Socio</h5>
                <div class="row">
                    <div id="contentAsignacion">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_modal")
<!-- Fin del cuadro de dialogo -->

@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/DataTable")
@Styles.Render("~/Content/datatablecss")
<script src="~/Scripts/cotracosan/RolesScript.js"></script>
<script>
    loadDataTable();
    $(document).ready(function () {
        $("#contentAsignacion").html("");
        $.ajax({
            type: "GET",
            url: "/Roles/AsignarUsuarioSocio/",
            success: function (data) {
                $("#contentAsignacion").html(data);
                console.log(data);
            }
        }).fail(function (response) {
            console.log(response);
        });
    });
</script>
}