@{ 
    Layout = null;
}
<h4>No cuentas con suficientes permisos</h4>
<div class="row">
    <img src="~/Content/images/403-forbidden.jpg" />
</div>
<a href="@Url.Action("Login", "Account")" style="text-align:right">Intenta con otra cuenta</a>