@using ReportViewerForMvc;
@{
    ViewBag.Title = "Gastos De Vehiculo Por Articulos";
}

<h2>Gastos De Vehiculo Por Articulos </h2>
@using (Html.BeginForm())
{

    <div class="form-horizontal">

        <div class="form-group">
        @Html.Label("Seleccione un articulo de la lista desplegable", htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-10">
            @Html.DropDownList("Articulos", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="fechaInicio">Fecha de inicio: </label>
            <div class="col-md-10">
                <input type="date" name="fechaInicio" id="fechaInicio" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="fechaFin">Fecha de fin: </label>
            <div class="col-md-10">
                <input type="date" name="fechaFin" id="fechaFin" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Consultar" class="btn btn-info" />
        </div>
    </div>
}


@if (ViewBag.reporte != null)
{
        <div class="row">
            <div class="col-md-10 offset-1">
                @Html.ReportViewer(ViewBag.reporte as Microsoft.Reporting.WebForms.ReportViewer, new { @scrolling = "yes" })
            </div>
        </div>

}
<style>
    iframe {
        height: 100%;
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
    }
</style>